extends layout

block content
    h1.leaderboard Top Knowers
        img.shield(src='/images/DragonShield.jpg')
    span.info ( of all time )
    
    table.leaderboard
        tr
            th &nbsp;
            th User
            th Score
        
        each user in topScorers
            tr(class= (user.username == currentUser) ? 'current-user' : '')
                td(class= 'trophy ' + trophies[topScorers.indexOf(user)])
                td.user= user.username
                td.score= user.score
    
    if(currentUser != '')
        h1.leaderboard Your Scoreboard
            img.shield(src='/images/DragonShield.jpg')
            
        table.leaderboard
            tr
                th User
                th Score
            
            each user in userScoreboard
                tr(class= (user.username == currentUser) ? 'current-user' : '')
                    td.user= user.username
                    td.score= user.score